<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SNL/src/gui/SNL.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
<listEntry value="=SNL/src"/>
<listEntry value="=SNL/E:\/java\/workspace\/SecretNoLights\/JLayer1.0.1\/jl1.0.1.jar"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gui.SNL"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SNL"/>
</launchConfiguration>
